<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
	<title>Insert title here</title>
	<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/font-awesome/css/font-awesome.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand">CapsuleDev site</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark">Home2</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
<main role="main" class="pb-3">

<h1>Página do paciente logado</h1>

<p>Bem vindo, <span th:text="${paciente.nome}"></span>!</p>
<h2>Lista de todos seus monitoramentos</h2>

		<th:block th:each="monitoramento: ${paciente.monitoramentos}">
			<form th:action="@{'/loginPaciente/monitoramento/' + ${monitoramento.codigo}}" method=post>
				<input type="submit" th:value="@{'Código: ' + ${monitoramento.codigo} + '. Data de início: ' + ${monitoramento.inicioFormatado}}" class="list-group-item list-group-item-action">
			</form>
		</th:block>	
<h2>Lista dos seus monitoramentos concluídos</h2>
	<th:block th:each="monitoramento: ${monitoramentosNaoAtivos}">
		<form th:action="@{'/loginPaciente/monitoramento/' + ${monitoramento.codigo}}" method="post">
			<input type="submit" th:value="@{'Código: ' + ${monitoramento.codigo} + '. Data de início: ' + ${monitoramento.inicioFormatado}}" class="list-group-item list-group-item-action">
		</form>
	</th:block>
<h2>Lista dos seus monitoramentos ativos</h2>
	<th:block th:each="monitoramento: ${monitoramentosAtivos}">
		<form th:action="@{'/loginPaciente/monitoramento/' + ${monitoramento.codigo}}" method="post">
			<input type="submit" th:value="@{'Código: ' + ${monitoramento.codigo} + '. Data de início: ' + ${monitoramento.inicioFormatado}}" class="list-group-item list-group-item-action">
		</form>
	</th:block>
	</main>
	
	</div>
	<footer class="border-top footer text-muted">
        <div class="container">
           <p>Capsule Dev &copy; 2020</p>
        </div>
    </footer>
</body>
</html>